* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.clock {
  position: absolute;
  height: 300px;
  width: 300px;
  border: 10px solid #000;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.clock .center {
  height: 10px;
  width: 10px;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.clock .hour {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 60s infinite linear;
}

.clock .hour::before {
  content: '';
  width: 5px;
  height: 100px;
  background-color: #000;
  position: absolute;
  top: 40px;
}

.clock .minute {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 30s infinite linear;
}

.clock .minute::before {
  content: '';
  width: 2px;
  height: 120px;
  background-color: #000;
  position: absolute;
  top: 20px;
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}
